.ReloadBtn {
    background: url('../img/reload.png') left top no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    border: 0px;
    outline: none;
    position: relative;
    top: -50px;
    left: 260px;
    outline: none;
}
#WrongCaptchaError{
    color:red
}